/* General Navbar Styling */
.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 300px;
    max-width: 100%;
}
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #84a7ba;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover {
    background-color: #fff4f2;
}
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li {
    cursor: pointer;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Hide the menu items by default on mobile */
    .navbar-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    /* Show the hamburger button on small screens */
    .hamburger {
        display: block;
        font-size: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .navbar-menu.open {
        display: flex;
    }

    .navbar-menu a {
        font-size: 18px;
        padding: 15px;
        width: 100%;
        text-align: center;
    }
}

/* Adjustments for very small screens (like phones) */
@media (max-width: 500px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        font-size: 17px;
        gap: 15px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }    
}
